body{
    padding: 0;
    margin: 0;
    background: #0D0D0D;
    overflow-x: hidden;
}

#container{
    display: flex; 
    width: 100vw;
    height: 90vh;
}

#container #menu-lateral{
    background-color: black;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#container #menu-lateral header{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;

}
#container #menu-lateral nav{
    margin-left: 25px;

}

#container #menu-lateral nav main p{
    color: rgb(151, 151, 151);
    font-family: Raleway;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 13px;
}

#container #menu-lateral nav main p span{
    margin-left: 15px;

}
#container #menu-lateral nav section{
    margin-top: 25px;
    height: 220px;
    border-top: rgb(48, 48, 48) solid 0.5px;
}
#container #menu-lateral nav section div{
    height: 100%;
    overflow: auto;
}

#container #menu-lateral nav section div::-webkit-scrollbar{
    width: 12px; 
}
#container #menu-lateral nav section div::-webkit-scrollbar-thumb{
    background-color: rgb(88, 88, 88);;    /* color of the scroll thumb */
    border: 3px solid rgb(88, 88, 88);  /* creates padding around scroll thumb */
}


#container #menu-lateral nav section div p{
    color: rgb(151, 151, 151);
    font-family: Raleway;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 13px;
}

#container #menu-lateral nav footer p{
    color: rgb(151, 151, 151);
    font-family: Raleway;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    align-items: center;
}
#container #menu-lateral nav footer p span{
    margin-left: 15px;

}

#container #content{
    width: 100%;
    margin-left: 225px;

}

#container #content header{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 340px;
    background-image: radial-gradient(circle at 50% -20.71%, #5b448d 0, #352b62 25%, #111136 50%, #00000e 75%, #000000 100%);
}
#container #content header img{
    align-self: flex-end;
    margin-left: 30px;
    margin-bottom: 30px;
}
#container #content header div{
    font-family: Raleway;
    color: whitesmoke;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;

}

#container #content header div p{
    font-size: 14px;
    margin: 0;
}

#container #content header div .avatar{
    height: 25px;
    width: 25px;
    background: red;
    border-radius: 50%;

    
}

#container #content header div h1{
 font-size: 96px;
 margin: 0;
}
#container #content main{
    font-family: Raleway;
    color: rgb(151, 151, 151);
    margin: 50px 30px 0 30px;
    padding-bottom: 80px;
   
    
}

#container #content main .table-header,
#container #content main .table-row{
    display: grid;
    grid-template-columns: 0.5fr 7fr 5fr 5fr 1fr;
    margin-right: 30px;
    margin-left: 30px;
}

#container #content main .table-header span,
#container #content main .table-row span{
    font-size: 13px;
    margin: 0;
}
#container #content main .table-header .clock,
#container #content main .table-row .clock{
    text-align: end;
}

#container #content main hr{
    background-color: rgb(151, 151, 151);
    opacity: 0.2;
    
}

#container #content main .table-row{
    align-items: center;
    margin-top: 30px;
}
#container #content main .table-row span.track{
    display: flex;
    align-items: center;
    gap: 15px;
}
#container #content main .table-row span.track span p{
    line-height: 0.4;
}
#container #content main .table-row span.track span .title{
    color: aliceblue;
    font-weight: 800;
}

footer.footer{
    height: 10vh;
    background-color: #181818;
    width: 100vw;
    position: fixed;
}

